<div class="box-mail" style="width:100%!important;background:#04386a;margin:0;padding:10px;color:#fff;">
	<div class="header-gift" style="	height: 62px;	padding: 15px 0; background: url('http://159.203.168.93/assetsbar.png') #04386a repeat-x;">
		<div class="container">
			<div class="row">
				<div class="logo col-md-8 left" style="	width: 135px;height: 26px;background: url('http://159.203.168.93/assetslogo.png');	"></div>
				<div class="search col-md-2 right">
					<!-- <button type="submit" class="btn btn-login"><b>Login</b></button> -->
				</div>
			</div>
		</div>
	</div>
	<div>
		<h1>Thank you was subscribed our App</h1>
		<p>Get more opurtunity to be a lucky person.</p>
	</div>
</div>