<div class="clearfix"></div>
<div class="footer text-center">
 <div class="container">
  <div class="row">				
   <div class="col-lg-12 col-md-12">
    <div class='footer-link'>
     <ul class="nav-2 navbar-nav-2">
<!--       <li>
       <a href="<%= show_page_path('about_us') %>">About us</a>
     </li>
     <li>
       <a href="<%= show_page_path('faq') %>">FAQ </a>
     </li> -->
     <li>
       <a href="<%= show_page_path('privacy') %>" >Terms and Conditions</a>
     </li>
     <li>
       <a href="<%= show_page_path('privacy') %>" >Privacy</a>
     </li>
     <li>
       <a href="mailto:customerservice@instabuyback.com" style="color: #fff;">Contact Us</a>
     </li>
   </ul>
 </div>
</div>				
</div>
</div>
<br/>
<div class="container">
  <div class="row">
   <div class="col-lg-12">
    &copy; 2016 InstaBuyback. All right reserved.
    <br/>
    <br/>
  </div>
</div>
</div>
</div>