<div class="header">
    <div class="container">
        <div class="row">
            <div class="logo col-md-8 left">&nbsp</div>
            <div class="search col-md-2 right">
                <!-- <button type="submit" class="btn btn-login"><b>Login</b></button> -->
            </div>
        </div>
    </div>
</div>