<div class="header">
    <div class="container">
        <div class="row">
           	<%= link_to root_path do %>
              <div class="logo col-md-8 left"></div>
            <% end %>
            <div class="search col-md-2 right">
                <!-- <button type="submit" class="btn btn-login"><b>Login</b></button> -->
            </div>
        </div>
    </div>
</div>