<div class="container main col-lg-8 col-md-8 col-xs-10 col-sm-10 col-md-offset-2 col-sm-offset-1 col-xs-offset-1 col-lg-offset-2">
	<div class="banner">
		<h1><%= params[:page_id].humanize %></h1>
		<span class="about-img skyline"></span>
		<span class="about-img bridge"></span>
	</div>
	<section class="contents col-md-12">

	</section>
</div>