<div class="container main">
	<div class="row">
		<div class="banner">
			<h1><%= params[:page_id].humanize %></h1>
			<span class="about-img skyline"></span>
			<span class="about-img bridge"></span>
		</div>
	</div>
	<section class="contents">

	</section>
</div>